
#title{
  background-color: #ff4c68;
}
h1{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}
.container-fluid{
  padding: 3% 15%;
}

.nav-brand{
 font-family: 'Ubuntu', sans-serif;
 font-size: 2.5rem;
 color: #fff;
}
.navbar{
  padding: 0 0 4.5rem 0;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.btn{
  margin: 5% 3% 5% 0;
}

.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right:10%;
  left:10%;
}
@media(max-width:1028px){
   .title-image{
     position: static;
     transform: rotate(0);
   }
   #features{
     text-align: center;
   }
}

#features{
  position: relative;
  z-index: 1;
  background-color: #fff;
}

p{
  color: grey;
}

.feature-box{
  padding: 12% 3%;
 padding-left: 5%;
  text-align: center;
}
.icon{
  color: #ef8172;
  padding-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

#testimonials{
  padding: 7% 15%;
  background-color: #ef8172;
  font-family: "Montserrat-bold";
  line-height: 1.5;
  text-align: center;
  color: #fff;
  font-weight: bold;

}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}



.press-logo{
  width: 15%;
  margin: 20px 20px 50px 80px;

}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-dept{
  padding: 3% 2%;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-text{
  font-family: Montserrat-black;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  padding-top: 5%;
}

.dwn-change{
  margin: 20px 10px;
}

#footer{
  text-align: center;
  padding: 7% 15%;
}

.fotter-icon {
  margin: 20px 10px;
}
